body { 
    font-family: Arial, sans-serif;
    background-color: #daecff !important;
    padding: 0;
}

.custom-navbar {
    background-color: #dfeef7 !important; /* Substitua com a cor desejada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.navbar-brand {
    color: #007bff !important;
}

.nav-link {
    color: #007bff !important;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#user-list {
    list-style-type: none;
    padding: 0;
}

#user-list li {
    padding: 10px;
    background-color: #007bff;;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-list li a {
    text-decoration: none;
    color: #fff;
}

#publicacoes-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
}

#modal-content {
    padding: 20px;
}

#publicacoes-list img {
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

