body {
    font-family: Arial, sans-serif;
    background-color: #d1d8da;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
fieldset{
    border: none;
}
fieldset legend{
    text-align: center;
    color: rgb(50, 55, 113);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset legend img{
    width: 100px;
    justify-content: center;
}
label{
    float: left;
    padding: 8px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

