/* Estilos para a barra de navegação */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

#navbarNav {
    display: flex;
    justify-content: space-around;

}

.navbar-nav .nav-link {
    color: #007bff;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}

/* Estilos para o formulário de publicação */
#formPublicacao {
    margin-bottom: 20px;
}

#textoPublicacao {
    resize: none;
}

/* Estilos para a lista de publicações */
/* Estilos para a página de publicações */
#listaPublicacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 90%; /* Ajuste a largura do card */
    max-width: 500px; /* Largura máxima */
    margin: auto; /* Centraliza o card */
}

.card-body {
    padding: 15px; /* Diminui o padding interno */
}

.card img {
    max-height: 350px; /* Ajuste conforme necessário */
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    object-fit: contain; /* Mantém a proporção da imagem sem cortar */
    border-radius: 8px;
}


.card:hover {
    transform: translateY(-5px);
}


.card-title {
    font-size: 1.25rem; /* Tamanho do título */
}

.card-text {
    font-size: 0.85rem; /* Tamanho do texto */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

#busca {
    display: flex;
    flex-direction: row;
}

.title-denuncia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-denuncia {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: red;
}

.close {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: red;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .card-body {
        height: auto; /* Altera a altura para ajustar em dispositivos menores */
    }
}
