/* Estilos para a barra de navegação */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

#navbarNav {
    display: flex;
    justify-content: space-around;

}

.navbar-nav .nav-link {
    color: #007bff;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}

/* Estilos para o formulário de publicação */
#formPublicacao {
    margin-bottom: 20px;
}

#textoPublicacao {
    resize: none;
}

/* Estilos para a lista de publicações */
#listaPublicacoes {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

/* Estilos para a coluna de comentários */
.card-body {
    height: 300px; /* Altura fixa para o card de comentários */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
}

/* Estilos gerais */
.container {
    max-width: 1200px;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

#busca {
    display: flex;
    flex-direction: row;
}

/* Estilos para o modal de comentários */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    text-align: right;
}


/* Estilos para responsividade */
@media (max-width: 768px) {
    .card-body {
        height: auto; /* Altera a altura para ajustar em dispositivos menores */
    }
}
